.examples {
  width: 98%;
  font-family: "Arial", sans-serif;
}

/* .app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  } */

/* GrammarDisplay.css */
.example1 {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #555;
}

h3 {
  color: #333;
}

.tabbed {
  margin-left: 45%;
}
.arrow {
  display: inline-block;
  position: relative;
}

p {
  color: #555;
  line-height: 1.5;
}

var.array {
  font-style: normal;
  font-size: x-large;
}
var.array span {
  font-size: x-small;
  margin-left: -2em; /* shift the arrow back over the letter */
  vertical-align: 0.7em; /* tune the arrow vertical position */
}
