.info {
  width: 98%;
}

/* body {
    font-family: Arial, sans-serif;
 } */

.content {
  max-width: 600px;
  margin: auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  color: #444444;
}

.input-list li {
  background-color: #e0e0e0;
  margin-bottom: 5px;
  padding: 5px;
}


button {
  color: white;
  background-color: #333;
  border: none;
  padding: 10px 20px;
}

.imgContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 50vh; */
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  margin-left: 0.5rem;
  height: 2.25rem;
}
