.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* MENU */
.menu {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 5px 0 5px 20px;
  background-color: #636881;
}

.menu-item {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #262938;
  font-family: sans-serif;
  /* font-weight: bold; */
  cursor: pointer;
  margin: 5px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
  transition-duration: 0.4s;
}

.menu-item:hover {
  border-color: #676666;
  color: #191e34;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
}

/* LAYOUT */
.symb_rules {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* padding: 20px; */
  /* border: 1px solid #ccc; */
  box-sizing: border-box;
}

/* Select the symb_rules div and make it a flex container with row direction */
.symb_rules {
  display: flex;
  flex-direction: row;
}

/* Select the symbols and rules divs and make them have 100% width */
.symbols,
.rules {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Select the solution and lang divs and make them have 100% width */
.solution,
.lang {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #ccc;
  box-sizing: border-box;
  overflow: auto;
  padding: 0 20px;
}

/* Set a fixed height for the parent div of the solution and lang divs and use overflow to handle excess content */
.solution {
  height: 15rem;
}

.lang {
  height: 10rem;
}

/* SYMBOLS */
.symbols {
  display: flex;
  flex-direction: column;
  color: #272f51;
}

.symbol-row {
  display: flex;
  align-items: center; /* Vertically align the label and textarea */
  margin-bottom: 10px; /* Add some space between rows */
}

.label {
  min-width: 150px; /* Ensure a minimum width for the label */
  margin-right: 10px;
}

textarea {
  flex: 1; /* Expand to fill remaining space */
  padding: 5px;
  border-color: #272f51;
}


/* RULES */
.btn {
  padding: 10px;
  border: solid #37416d 1px;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #262938;
  font-family: sans-serif;
  cursor: pointer;
  margin: 5px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
  transition-duration: 0.4s;
}

.btn:hover {
  border-color: #191e34;
  color: #191e34;
  box-shadow: 5px 5px 10px 2px #191e3473;
}