.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* .menu {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 10px 0 10px 20px;
  background-color: #f0f0f0;
}

.menu-item {
  padding: 10px;
  border: 1px solid #ccc;
  margin-right: 20px;
  border-radius: 25%;
  background-color: white;
  cursor: pointer;
  color: rgb(37, 35, 35);
} */

.menu {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 10px 0 10px 20px;
  background-color: #f0f0f0;
}

.menu-item {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: black;
  font-family: sans-serif;
  /* font-weight: bold; */
  cursor: pointer;
  margin: 5px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
  transition-duration: 0.4s;
}

.menu-item:hover {
  border-color: #969595;
  box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.4);
}

.symb_rules {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* padding: 20px; */
  /* border: 1px solid #ccc; */
  box-sizing: border-box;
}

/* Select the symb_rules div and make it a flex container with row direction */
.symb_rules {
  display: flex;
  flex-direction: row;
}

/* Select the symbols and rules divs and make them have 100% width */
.symbols, .rules {
  width: 100%;
  /* height: 100%; */
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Select the solution and lang divs and make them have 100% width */
.solution, .lang {
  width: 100%;
  display: flex;
  flex-direction: column;  
  align-items: flex-start;
  border: 1px solid #ccc;
  box-sizing: border-box;
  overflow: auto;
  padding: 0 20px;
}


/* Set a fixed height for the parent div of the solution and lang divs and use overflow to handle excess content */
.solution  {
  height: 15rem;

}

.lang{
  height: 10rem;
}